/* .ant-layout.ant-layout-has-sider .ant-layout-sider {
  height: 100vh;
  position: fixed;
} */

.ant-layout-sider .ant-layout-sider-trigger {
  position: absolute;
}

.ant-menu .ant-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
}

.ant-layout-has-sider .ant-layout-sider-children{
  margin-top: 10px;
}

.ant-layout-has-sider .ant-layout-sider-children .ant-menu-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
